# Node modules
node_modules/

# Entornos
.env
.env.* 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/

# Producción
dist/
build/

# Archivos JSON de configuración o secretos
*.local.json
*.secret.json
